* {
  margin: 0;
  padding: 0;
}

#container {
  width: 500px;
  height: 500px;
  margin: 10px auto;
  height: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  display: grid;
}

.new_div {
  height: auto;
  background-color: lightgray;
  border: 0.5px solid gray;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  width: 80px;
  height: 40px;
  margin: 40px auto 30px 30%;
}

/*before refactoring
.changed_color {
  background-color: pink;
}

.changed_color2 {
  background-color: plum;
}

.changed_color3 {
  background-color: purple;
} */
